<head th:replace="fragments/head"></head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded align-self-center pt-5">
                <h2 class="text-center text-dark mt-5">Catalog</h2><a class="btn-block" href="/models/add">+</a>
                <div class="row row-cols-1 row-cols-md-4 g-3">
                    <div th:each="m : ${models}" class="col">
                            <div class="card" style="width: 18rem;">
                                <img th:src="${m.imageURL}" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${m.brand.name} + ' ' + ${m.name}"></h5>
                                    <p  class="card-text" th:text="${m.category}"></p>
                                    <a class="btn-primary" th:href="@{/models/model-details/{model-name}(model-name=${m.name})}">Details</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>