<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body class="d-flex flex-column h-100 bg-light">
<div th:replace="~{fragments/navbar}">Navbar</div>
<main class="flex-shrink-0">
    <div class="bg-image"
         style="
         background-image:
         url('https://images.unsplash.com/photo-1487424439918-bc6b5bef0380?q=80&w=3133&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
          height: 100%;
          min-height: 600px;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; padding-bottom: 10px">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="jumbotron text-center rounded col-md-8 align-self-center">
                    <div class="justify-content-center text-center">
                        <h1>Edit Car</h1>
                    </div>
                    <form class="m-md-auto w-75 pb-3"
                          th:action="@{/models/update}"
                          th:method="post"
                          th:object="${updateModel}">

                        <div class="mb-3">
                            <input aria-describedby="nameHelp"
                                   placeholder="Model name"
                                   class="form-control text-center"
                                   id="name" name="name"
                                   th:errorclass="is-invalid"
                                   th:field="*{name}"
                                   type="text"/>
                            <small class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Error message</small>
                        </div>
                        <div class="mb-3">
                            <select class="form-control text-center"
                                    id="brand"
                                    multiple="false"
                                    name="name"
                                    th:field="*{brandName}">
                                <option th:each="b : ${brands}"
                                        th:text="${b.name}"
                                        th:selected="${model.brand.name}"
                                        th:value="${b.name}">Brand name
                                </option>
                            </select>
                            <!--                        <small th:if="${#fields.hasErrors('name')}" th:errors="*{brand.name}"-->
                            <!--                               class="text-danger">Error message</small>-->
                        </div>

                        <!--                    <fieldset class="mb-3">-->
                        <!--                        <legend>Choose Category</legend>-->
                        <!--                        <div class="form-check">-->
                        <!--                            <label class="form-check-label">-->
                        <!--                                <input th:field="*{category}"-->
                        <!--                                       th:value="0"-->
                        <!--                                       th:errorclass="is-invalid"-->
                        <!--                                       type="radio" class="form-check-input" name="category"/>-->
                        <!--                                <span>CAR</span>-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check disabled">-->
                        <!--                            <label class="form-check-label">-->
                        <!--                                <input th:field="*{category}"-->
                        <!--                                       th:value="1"-->
                        <!--                                       th:errorclass="is-invalid"-->
                        <!--                                       type="radio" class="form-check-input" name="category"/>-->
                        <!--                                <span>BUSS</span>-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check disabled">-->
                        <!--                            <label class="form-check-label">-->
                        <!--                                <input th:field="*{category}"-->
                        <!--                                       th:value="2"-->
                        <!--                                       th:errorclass="is-invalid"-->
                        <!--                                       type="radio" class="form-check-input" name="category"/>-->
                        <!--                                <span>TRUCK</span>-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check disabled">-->
                        <!--                            <label class="form-check-label">-->
                        <!--                                <input th:field="*{category}"-->
                        <!--                                       th:value="3"-->
                        <!--                                       th:errorclass="is-invalid"-->
                        <!--                                       type="radio" class="form-check-input" name="category"/>-->
                        <!--                                <span>MOTORCYCLE</span>-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <!--                    </fieldset>-->

                        <div class="mb-3">
                            <input aria-describedby="imageURL"
                                   class="form-control text-center"
                                   placeholder="Image URL"
                                   id="imageURL" name="imageURL"
                                   th:errorclass="is-invalid"
                                   th:field="*{imageURL}"
                                   type="text"/>
                            <small class="text-danger"
                                   th:errors="*{imageURL}"
                                   th:if="${#fields.hasErrors('imageURL')}">Error message</small>
                        </div>

                        <div class="mb-3">
                            <input aria-describedby="price"
                                   class="form-control text-center"
                                   placeholder="Price"
                                   id="price"
                                   name="imageURL"
                                   th:errorclass="is-invalid"
                                   th:value="*{price}"
                                   type="text">
                            <small class="text-danger" th:errors="*{price}"
                                   th:if="${#fields.hasErrors('price')}">Error message</small>
                        </div>

                        <div class="mb-3">
                            <input aria-describedby="startYear"
                                   class="form-control text-center"
                                   placeholder="Start year"
                                   id="startYear"
                                   name="startYear"
                                   th:errorclass="is-invalid"
                                   th:field="*{startYear}"
                                   type="text"/>
                            <small class="text-danger" th:errors="*{startYear}"
                                   th:if="${#fields.hasErrors('startYear')}">Error message</small>
                        </div>

                        <div class="mb-3">
                            <input aria-describedby="endYear"
                                   class="form-control text-center"
                                   placeholder="End year"
                                   id="endYear"
                                   name="endYear"
                                   th:errorclass="is-invalid"
                                   th:field="*{endYear}"
                                   type="text"/>
                            <small class="text-danger" th:errors="*{endYear}"
                                   th:if="${#fields.hasErrors('endYear')}">Error message</small>
                        </div>

                        <button class="btn btn-secondary"
                                type="submit"
                                style="background-color: #5a624f; border-color: white; width: 70px">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>